@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	width: 30%;
	float: left;
	box-sizing: border-box;
}

footer {
	clear: both;
}

header {
	margin: 50px 0;
}

img {
	max-width: 75%;
}

main {
	width: 55%;
	float: left;
	box-sizing: border-box;
	padding: 0 2.5%; 
}

nav {
	width: 15%;
	float: left;
	box-sizing: border-box;
}

#copyright {
	font-size: 80%;
	position: relative;
	top: 20px;
}

#main-container {

}